.logo
{
		width:250px;
}

.imgtransparente
{
	opacity:0.8;
	box-shadow:5px 3px 3px grey;
}

.form-group
{
	padding:0 16px;
}

select
{
	width:100%;
}

table
{
	width:100%;
}

.ai
{
	width:30%;
	height:268px;
	display:inline-block;
	float: left;
    margin: 8px;
    text-align: justify;
    padding: 8px;
    box-shadow: 2px 2px 5px grey;
}

.ai h3
{
	line-height:18px;
	font-size:14px;
}

.ai img
{
	height:200px;
	max-width:100%;
}

.ai p
{
	display:none;
}

.ai.open
{
	height:auto;
	width:60%;
	float:right;
}

.ai.open p
{
 	display:block;
}

.ai.open img
{
	height:auto;
	width:100%;
}


.img-galerie{
    margin: 16px;
    box-shadow: 3px 3px 8px grey;
    border-radius: 5px;
}

p
{
	text-align:justify;
}







