<?php include "includes/headers.php"; ?>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
				<div class="box">
		            <div class="col-lg-12">
		                <hr>
		                <h2 class="intro-text text-center">A propos du
		                    <strong>BDA</strong>
		                </h2>
		                <hr>
		            </div>
		            <div class="col-md-6">
		                <img class="img-responsive img-border-left imgtransparente" src="img/aboutimg.jpg" alt="">
		            </div>
		            <div class="col-md-6">
		                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra malesuada quam, tincidunt porttitor tortor accumsan quis. Aliquam erat volutpat. Sed euismod justo sed ultricies tempor. Vestibulum dictum sodales massa. Nam imperdiet mauris nisi, quis imperdiet ligula vestibulum finibus. Suspendisse potenti. Sed laoreet, ligula non interdum condimentum, ante arcu hendrerit nulla, ac egestas tellus sapien at magna. Aenean eleifend nulla nec consequat pulvinar. Fusce sapien lacus, aliquam id sodales a, dictum sed velit. </p>
		                <p>Integer tincidunt, odio quis suscipit pulvinar, lorem mi vestibulum urna, vel congue nunc nibh a nisl. Donec finibus facilisis metus. Morbi eget venenatis tortor, ut semper dui. Fusce aliquam ipsum id cursus dictum. Nullam egestas justo non tortor efficitur, non lobortis dolor mattis. Phasellus ultrices nulla nisi, eget cursus odio finibus eget. Pellentesque convallis scelerisque ex eget sagittis. Aenean eu eros euismod, fringilla mi et, venenatis velit. Proin ac luctus erat. Curabitur accumsan in odio quis blandit. Aenean et imperdiet nibh. Sed eget efficitur nunc. Ut hendrerit, sapien nec ornare luctus, mi nisl gravida nunc, eu egestas diam est eu enim. Cras eget est a diam volutpat porta sed eget nibh. </p>
		                <p>Sed congue eu felis nec dignissim. Ut hendrerit fermentum tortor eget condimentum. Etiam sagittis sem leo, eu semper arcu pretium quis. Vivamus mauris odio, fringilla non ultricies vitae, feugiat pretium ipsum. Proin in ligula dapibus, suscipit massa a, finibus massa. Sed scelerisque mi nisl, porta hendrerit eros consectetur vel. Suspendisse vestibulum leo nisi. Sed tortor massa, iaculis sodales magna vel, iaculis pharetra diam. Fusce nec tincidunt nibh. Aliquam feugiat imperdiet varius. Maecenas neque erat, vestibulum eget eleifend non, molestie ornare odio. Cras suscipit rhoncus dolor in tristique. Ut dui ipsum, imperdiet non pretium quis, malesuada ac sem. </p>
		            </div>
		            <div class="clearfix"></div>
				</div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
				<div class='box'>
		            <div class="col-lg-12">
		                <hr>
		                <h2 class="intro-text text-center">Les 
		                    <strong>Membres</strong>
		                </h2>
		                <hr>
		            </div>
		            <div class="col-sm-4 text-center">
		                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
		                <h3>John Smith
		                    <small>Président</small>
		                </h3>
		            </div>
		            <div class="col-sm-4 text-center">
		                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
		                <h3>John Smith
		                    <small>Trésorier</small>
		                </h3>
		            </div>
		            <div class="col-sm-4 text-center">
		                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
		                <h3>John Smith
		                    <small>Secrétaire</small>
		                </h3>
		            </div>
		            <div class="clearfix"></div>
				</div>
            </div>
        </div>

    </div>
    <!-- /.container -->

<?php include "includes/footer.php"; ?>
   
