<?php include "includes/headers.php"; ?>



<!--activités internes (clubs)-->

<div class="container">

	<div class="box">
		<hr><h2 class="intro-text text-center">Activités internes à l'ISIMA	</h2></hr>
		<div class="row">
		    <div class="col-lg-12">
		    		
		    	
		    		<?php 
		    			
		    				
							$activite = $bdd->query("SELECT * FROM activite_interne");
			
							foreach ($activite as $courant){
	
								echo '<div class="ai"> 
										<h3> '.$courant['nom_ai'].' </h3>
										<img src="'.$courant['img_ai'].'" alt=""> 
										<p> '.nl2br($courant['descrpt_ai']).'</p> 
									</div>';
									/*nl2br pour mettre les retour à la ligne*/
							}
					?>
		    
		    </div>
		</div>
	</div>
</div>


<!--activités extérieures (évènements)-->

<div class="container">
	
		    		
				<?php

					$activite = $bdd->query("SELECT * FROM activite_externe ORDER BY date DESC LIMIT 10");
	
					foreach ($activite as $courant){
	
							echo ' <div class="row">
										<div class="col-lg-12">
											<div class="box">
												<div class="col-lg-12">
												   	<hr>
												   	<h2 class="intro-text text-center">
												   		'. $courant['nom_ae'] .'
												  	</h2>
													<hr>
												</div>
												<div class="col-md-6">
													<img class="img-responsive img-border-left imgtransparente" src="'. $courant['img_ae'] .'" alt="">
												</div>
												<div class="col-md-6">
													<p> '.nl2br($courant['descrpt_ae']).'</p>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
			
								   </div> ';
						}
	
				?>

 
</div>

<?php include "includes/footer.php"; ?>





