
<?php include "includes/headers.php"; ?>
 <div class="container">

        
            
                <div class="box text-center">
				<div class="row">
				<?php
					/* Code tiré de www.lemoulindesautre.com
					 * C'est moi qui est écrit ce code (la preuve, affichez le code source ;) ), on peut donc le réutiliser
					 */
							$files = scandir("./galerie");

			
							foreach($files as $file){
								$explode_file = explode('.', $file);
								$extension = end($explode_file);
								if(strtolower($extension)=="jpg"){
									echo "<a href='./galerie/".$file."' data-lightbox='image' class='' ><img src='./galerie/".$file."' class='img-galerie' style='height:150px;' /></a>";
								}
							}
			
						?>
						<div style='clear:both'></div>
	</div></div></div>
<?php include "includes/footer.php"; ?>
