<?php ini_set("display_errors", "1"); include "includes/headers.php"; ?>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
            
                <div class="box text-center">
                  <h2 class="brand-before"><small>BIENVENUE SUR LE SITE DU</small></h2>
                  <h1 class="brand-name">BDA</h1>
                </div> 
                  
                  
                  
                 <div class="box text-center">
                     <div id="carousel-example-generic" class="carousel slide">
                    
                    <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        
                    <div class="carousel-inner">    
                    <?php 
                    
                    	$resultats = $bdd->query("SELECT img, id FROM news ORDER BY date DESC LIMIT 3");
						$compteur = 0;
						foreach ($resultats as $courant){
							$compteur ++;
							if ($compteur == 1){
								echo '
									<div class="item active">
				                        <a href = "news.php?id='.$courant["id"].'"><img class="img-responsive img-full" src="' . $courant['img'] . '" alt=""></a>
				                    </div>
								';
							}
							else{
								echo '
									<div class="item">
				                        <a href = "news.php?id='.$courant["id"].'"><img class="img-responsive img-full" src="' . $courant['img'] . '" alt=""></a>
				                    </div>
								';
							}
						}

                    
                    ?>
                    
                        

                        <!-- Wrapper for slides -->
                        
                            
                           
                        </div>
                        

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                  
                    
                </div>
            </div>
        </div>
        
        <div class='row'>
        	<div class="col-lg-7">
        		<div class="box">
        			<h2 class="intro-text text-center"> Présentation de l'équipe </h2>
        			<img src="img/logo_bda_web.png" class="img-responsive img-left logo">
        			<p>
        				présentation du bda ICI : llllllllllllllllllllll icjsqdipq ijpxdjPDÎDĉ pcdpuhpsuhd cxbchsbdsb 55 suhsis  hv cbdcdbh  hbvhbc
        			</p>
        		</div>	       		
        	</div>
        	<div class="col-lg-5">
        		<div class="box">
        			<h2 class="intro-text text-center">Musique au hasard</h2>
        			<p><?php music_random($bdd); ?></p>
        		
        		</div>
        	</div>
        	
        
        </div>
	
       
    </div>
    <!-- /.container -->

   

<?php include "includes/footer.php"; ?>
