<?php include "includes/headers.php"; ?>

    <div class="container">


		<div class="box">
		    <div class="row">
		        
		            <div class="col-lg-6">
		            	
		              <?php $info=music_random($bdd); ?>
		              
		            </div>
		            
		            <div class="col-lg-6">
		            	<h2> <?php echo $info["nom"]; ?> </h2>
		            	<p>
		            		
							♫ Artiste : <?php echo $info["nom_artiste"]; ?><br>
				
							Genre : <?php echo $info["sousgenre"]; ?><br>
							
							Pays : <?php echo $info["pays"]; ?>
							
													
						</p>
		                
		            </div>
		    </div>
		</div>
		<div class="box">
			<div class="row">
				<form action="musiques.html" method="GET">
					<div class="row">
						<div class="form-group col-lg-6">
							<input class="form-control" type="text" name="recherche" placeholder="Faire une recherche"/>
						</div>
						<div class="form-group col-lg-3">
							<select name="genre" >
								<option value="">Choisir un genre</option>
								
								<?php
								
									$resultats = $bdd->query("SELECT genre, sousgenre, genre.id AS id
																FROM genre, sousgenre
																WHERE genre.id = sousgenre.id_genre
																ORDER BY id_genre");
									
									foreach ($resultats as $courant){
									
										echo '
										
											<option value="'. $courant['id'] .'">'. $courant['genre'] .' - '. $courant['sousgenre'] .'</option>
										
										';
			
									}
								
								
								?>
							</select>
						</div>
						<div class="form-group col-lg-3">
							<input class="form-control" type="submit" value="Chercher"/>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="box">
				<table>
					<tr>
						<th>Chanson</th>
						<th>Artiste</th>
						<th>Genre</th>
						<th>Pays</th>
						<th>Lien</th>
					</tr>
					<?php 
						
						$condition = "";
						
						if (isset($_GET['genre']) and is_numeric($_GET['genre'])){
						
							$condition.=" AND sousgenre.id_genre = '".$_GET['genre']."'"; /*on ajoute une condition dans $condition*/
						
						}

						if (isset($_GET['recherche'])){
							$mots = explode(" ",$_GET['recherche']);
							foreach($mots as $mot)
							{
								$condition .= " AND (musiques.nom LIKE '%".addslashes($mot)."%' OR artiste.nom LIKE '%".addslashes($mot)."%') ";
								/*addslashes empeche les injections SQL*/
							}
						
						}
						
						$resultats = $bdd->query("SELECT musiques.nom AS nom, lien, sousgenre, artiste.nom AS artiste, artiste.pays AS pays
													FROM `musiques` , sousgenre, artiste
													WHERE musiques.id_genre = sousgenre.id
													AND musiques.id_artiste = artiste.id ". $condition);
						
						foreach ($resultats as $courant){
		
							echo ' 
							
								<tr>
									<td>'. $courant['nom'] .'</td>
									<td>'. $courant['artiste'] .'</td>
									<td>'. $courant['sousgenre'] .'</td>
									<td>'. $courant['pays'] .'</td>
									<td><a href="'. $courant['lien'] .'">Ecouter</a></td>
								</tr>
																				
							
							';
		
						}
					
					
					
					?>
				
				</table>
			</div>
		</div>

    </div>
    <!-- /.container -->

<?php include "includes/footer.php"; ?>
